body{
    font-family: 'Poppins', sans-serif;
}
.name{
    color: orange;
}

h1{
    font-size: 45px;

}
.half-wight{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.half-wight img{
    width: 100%;
}